.header
{
  position: relative;
}
.home-img
{
  padding: 10px;
}
.toolbar-background
{
  background-color: dodgerblue;
}
.toolbar-title
{
  color: white;
}
.back-button
{
  color: white;
}
.back-button:hover
{
  color: greenyellow !important;
}
